<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Intelli Telemetry</title>

    <link rel="icon" type="image/png" sizes="457x457" href="/public/logo.png" />
    <link rel="manifest" href="/public/site.webmanifest" />
    <link rel="stylesheet" href="/public/css/normalize.css" />
    <script
      async
      src="https://unpkg.com/htmx.org"
      crossorigin="anonymous"
    ></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <!-- <header> -->
    <!--   <nav> -->
    <!--     <a href="/">Home</a> -->
    <!--     <a href="/books">Books</a> -->
    <!--   </nav> -->
    <!-- </header> -->

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>Built with Rust 🦀</p>
      <p></p>
    </footer>
  </body>
</html>
