<!DOCTYPE html>
<html lang="en" dir="ltr" class="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <title>Intelli Telemetry</title> -->

    <!-- Icon -->
    <link
      rel="icon"
      type="image/png"
      sizes="457x457"
      href="/public/img/logo.png"
    />

    <link href="https://unpkg.com/aos@2.3.0/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    />
    <link rel="stylesheet" href="/public/css/app.css" />

    <script async src="/public/js/settings.min.js"></script>
    <script async src="https://unpkg.com/htmx.org"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
